
@import "src/assets/styles/global.scss";


:host {


  &.MemberProtectionView{
    display: block;
    .MemberProtection{
      &Main{
        &Pod{
          @include pageLayout1;
          align-items: flex-start;
          margin: auto;
          max-width: $pageMaxWidth;
          padding:$spacing5 $spacing10;
          background-color: $bs-light;
          h1{
            align-self: flex-start;
            font-size: $fontSize4;
          }

        }
        &Text {
          &0 {
            margin: $spacing8 0 0 0;
          }
          &1 {
            margin: $spacing5 0 0 0;
          }
          &2 {
            margin: 0  0 0 $spacing8;
          }
        }
      }
      &Pod{



        &0{}
      }
    }
  }

}
