#root sign-in{
  @media #{$mobile}{
    button{
      border: none;
    }

    custom-label p{
      text-align: left;
    }
    .SignInMainPod{
      flex-direction: column;
      padding:0 $spacing10;
    }


    .SignInPod0,.SignInPod1{
      @include pageLayout1;
      margin: 0 0 $spacing10 0;
      *{
        width: 100%;
      }
    }

    .SignInPod0Img0{
      width: 90%;
    }



    .SignInPod1Btn0{
      width: 40%;
    }
  }
}
