<div [class]="classPrefix('MainPod')">
  <div [class]="classPrefix('Pod0')">
    <img [class]="classPrefix('Pod0Img0')" [src]="splashScreenImg.src" [alt]="splashScreenImg.alt | translate"/>
  </div>
  <div [class]="classPrefix('Pod1')">
    <h2 [class]="classPrefix('Pod1Text0')">{{"signIn.info.title" | translate}}</h2>
    <wml-form [fields]="wmlForm.fields"></wml-form>
    <button [class]="classPrefix('SharedBtn0') +' ' + classPrefix('Pod1Btn0')" (click)="forgotPasswordBtn.click($event)">
      <label>{{forgotPasswordBtn.value | translate}}</label>
    </button>
    <button [class]="classPrefix('SharedBtn0') +' ' + classPrefix('Pod1Btn1')" (click)="signInBtn.click($event)">
      <label>{{signInBtn.value | translate}}</label>
    </button>
    <a [href]="signUpLink.route">{{signUpLink.value | translate}}</a>
  </div>
</div>
